// Обнуление стилей
@import "nullstyle";
// < ПОДКЛЮЧЕНИЕ ШРИФТОВ>
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700");
// </ ПОДКЛЮЧЕНИЕ ШРИФТОВ>

// <ПЕРЕМЕННЫЕ>
$widthContainer: 1200;
$colorRed: #ff553e;
// </ПЕРЕМЕННЫЕ>

// < ШРИФТ И ЦВЕТ ШРИФТА ПО УМОЛЧАНИЮ>
$fontfamily: Inter;
$mainColor: #404040;
// </ ШРИФТ И ЦВЕТ ШРИФТА ПО УМОЛЧАНИЮ>

// < ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ>
@import "mixins";
@import "header";
@import "footer";
@import "libs/sal";
// </ ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ>

// < ОСНОВНЫЕ СТИЛИ>
body {
  height: 100%;
  font-family: $fontfamily;
  color: $mainColor;
  font-size: rem(18); // По умолчанию
  line-height: em(36, 18); // По умолчанию
  @media (max-width: 600px) {
    font-size: rem(16);
  }

  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
[class*="__container"] {
  max-width: $widthContainer + 30 + px;
  margin: 0 auto;
  width: 100%;
  padding: 0px rem(15);
}
.main {
  flex: 1 1 auto;
}
.btn {
  font-family: Poppins;
  font-weight: 500;
  padding: 24px 32px;
  border-radius: 40px;
  font-size: rem(18);
  transition: all 0.5s ease 0s;

  &_red {
    background: $colorRed;
    color: #fff;
    &:hover {
      background: #fa865f;
    }
  }
}
.title {
  position: relative;
  h2 {
    font-family: Poppins;
    font-size: rem(48);
    font-weight: 600;
    line-height: em(70, 48);
    color: #18063c;
    @media (max-width: 1100px) {
      font-size: rem(38);
    }
    @media (max-width: 767px) {
      font-size: rem(32);
    }
    @media (max-width: 600px) {
      font-size: rem(24);
    }
  }
  * {
    position: relative;
    z-index: 3;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 176px;
    height: 35px;
    background: url("@img/title-shape.svg") no-repeat;
    @media (max-width: 600px) {
      width: 100px;
      background-size: contain;
      background-position: 50%;
      opacity: 0.5;
    }
  }
}
// </ ОСНОВНЫЕ СТИЛИ>

//======================================================
.main-block {
  position: relative;
  background: #fff8f2 url("@img/main-block/bc.png") 50% 100px / 100% no-repeat;
  padding: 320px 0px 380px;
  @media (max-width: 1500px) {
    background-position: 50% 70px !important;
    background-size: cover !important;
  }
  @media (min-width: 1920px) {
    background-position: 50% 0;
    background-size: cover;
  }
  @media (max-width: 1100px) {
    padding: 120px 0px 0px;
  }
  @media (max-width: 600px) {
    background-position: 58% -150px;
  }

  // .main-block__container

  &__container {
    text-align: center;
    @media (max-width: 500px) {
      text-align: left;
    }
  }

  // .main-block__title

  &__title {
    max-width: 800px;
    margin: 0 auto 24px;
    h1 {
      font-family: Poppins;
      font-size: rem(64);
      font-weight: 700;
      line-height: em(90, 64);
      color: #1c0e0d;
    }

    @media (max-width: 1100px) {
      max-width: 650px;
      h1 {
        font-size: rem(38);
      }

      &::before {
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
      }
    }
    @media (max-width: 767px) {
      h1 {
        font-size: rem(32);
      }
      &::before {
        bottom: 40%;
      }
    }
    @media (max-width: 600px) {
      h1 {
        font-size: rem(28);
      }
      &::before {
        opacity: 1 !important;
      }
    }
    @media (max-width: 500px) {
      &::before {
        left: 150px;
        bottom: 30px;
      }
    }
  }

  // .main-block__text

  &__text {
    color: #40201e;
    font-size: rem(20);
    font-weight: 400;
    line-height: em(36, 20);
    margin: 0 auto 68px;
    @media (min-width: 767px) {
      max-width: 600px;
    }
    @media (max-width: 1100px) {
      margin: 0px auto 30px;
    }
    @media (max-width: 600px) {
      font-size: rem(16);
    }
    @media (max-width: 500px) {
      margin: 0px 0px 30px 0px;
    }
  }

  // .main-block__button

  &__button {
  }
}

.bottom-main-block {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 200px;
  width: 100%;
  background: url("@img/main-block/bottom-bg.png") no-repeat;
  @media (min-width: 1920px) {
    background-position: 70% 0;
    background-size: 100%;
  }
  @media (max-width: 1100px) {
    position: relative;
    margin: 85px 0px 0px 0px;
  }
  @media (max-width: 600px) {
    height: auto;
  }
  // .bottom-main-block__container
  &__container {
    height: 100%;
  }

  // .bottom-main-block__items

  &__items {
    margin: 0px 0px 0px 80px;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 0 180px;
    @media (max-width: 900px) {
      gap: 0 40px;
      justify-content: center;
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: 600px) {
      flex-direction: column;
      height: auto;
      padding: 48px 0px;
    }
  }

  // .bottom-main-block__item

  &__item {
    text-align: center;
    h2 {
      font-size: rem(48);
      font-weight: 600;
      line-height: em(64, 48);
      margin: 0px 0px 10px 0px;
    }
    @media (max-width: 600px) {
      &:not(:last-child) {
        padding: 0px 0px 48px 0px;
        margin: 0px 0px 48px 0px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 180px;
          height: 1px;
          background: #1e0c3e;
          opacity: 0.2;
        }
      }
    }
  }
}
//======================================================
.features {
  padding: 170px 0px 80px;
  background: url("@img/features/01.svg") 85px 30px no-repeat;

  @media (max-width: 1200px) {
    padding: 50px 0px 30px 0px;
    background-position: 10px 0;
  }
  @media (max-width: 1100px) {
    background: none;
  }

  // .features__container

  &__container {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 200px;
      height: 180px;
      background: url("@img/features/02.svg") 50% / contain no-repeat;
      @media (max-width: 1100px) {
        left: 0;
        transform: translate(0, -50%);
      }
      @media (max-width: 767px) {
        width: 100px;
        height: 92px;
      }
      @media (max-width: 600px) {
        transform: translate(0, -100%);
      }
    }
  }

  // .features__title

  &__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
    &::before {
      left: 50%;
    }
    @media (max-width: 1000px) {
      &::before {
        transform: translateX(-50%);
      }
    }
    @media (max-width: 600px) {
      &::before {
        transform: translate(0);
        top: 15px;
      }
    }
  }

  // .features__text

  &__text {
    text-align: center;
    @media (min-width: 767px) {
      max-width: 660px;
      margin: 0 auto 65px;
    }
    @media (max-width: 767px) {
      margin: 0px 0px 30px 0px;
    }
  }

  // .features__items

  &__items {
    display: flex;
    gap: 32px;
    @media (max-width: 1100px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: 767px) {
      gap: 20px;
    }
  }
}

.item-features {
  box-shadow: 14px 20px 48px rgba(25, 15, 44, 0.06);
  border-radius: 48px;
  color: #fff;
  padding: 28px;
  @media (max-width: 1100px) {
    padding: 15px 20px 30px 20px;
  }
  @media (max-width: 767px) {
    padding: 20px;
  }
  &:nth-child(1) {
    background: #70d0dc;
  }
  &:nth-child(2) {
    background: #7562e0;
  }
  &:nth-child(3) {
    background: #fa865f;
  }
  // .item-features__img

  &__img {
    margin: 0px 0px 24px 0px;
    width: 88px;
    height: 88px;
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 30px;
    align-items: center;
    @media (max-width: 767px) {
      width: 60px;
      height: 60px;
      margin: 0px 0px 18px 0px;
      border-radius: 15px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      background: #fff;
      opacity: 0.5;
      @media (max-width: 767px) {
        border-radius: 15px;
      }
    }
    img {
      position: relative;
      z-index: 3;
      @media (max-width: 767px) {
        width: 50%;
        height: 50%;
      }
    }
  }

  // .item-features__title

  &__title {
    margin: 0px 0px 10px 0px;
  }

  // .item-features__text

  &__text {
    line-height: em(26, 18);
  }
}

//======================================================
.analytics {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 70px 0px 140px;

  @media (max-width: 1100px) {
    flex-direction: column-reverse;
  }
  @media (max-width: 767px) {
    padding: 60px 0px 30px;
  }

  // .analytics__content

  &__content {
    display: flex;
    flex: 0 0 100%;
  }

  // .analytics__container

  &__container {
    display: flex;
    align-items: center;
  }

  // .analytics__body

  &__body {
    @media (min-width: 1100px) {
      width: 50%;
      transform: translateX(100%);
    }
  }

  // .analytics__title

  &__title {
    margin: 0px 0px 20px 0px;

    @media (max-width: 767px) {
      margin: 0px 0px 16px 0px;
    }
    &::before {
      left: 70%;
      transform: translateX(-100%);
      top: 40px;
      @media (max-width: 1100px) {
        left: 0%;
        transform: translate(0%, -80%);
      }
    }
  }

  // .analytics__text

  &__text {
    margin: 0px 0px 38px 0px;
  }

  // .analytics__items

  &__items {
  }

  // .analytics__img

  &__img {
    @media (min-width: 1100px) {
      flex: 0 0 50%;
      transform: translateX(100%) !important;
      display: flex;
      align-items: center;
    }
    img {
      max-width: 100%;
    }
  }
}

.item-analytics {
  display: flex;
  gap: 24px;
  @media (max-width: 767px) {
    gap: 18px;
  }
  &:not(:last-child) {
    margin: 0px 0px 48px 0px;
    @media (max-width: 767px) {
      margin: 0px 0px 24px 0px;
    }
  }
  // .item-analytics__img

  &__img {
    img {
      @media (max-width: 767px) {
        width: 56px;
        height: 56px;
      }
    }
  }

  // .item-analytics__content

  &__content {
    h3 {
      font-family: Poppins;
      font-size: rem(28);
      font-weight: 600;
      line-height: em(36, 28);
      margin: 0px 0px 8px 0px;
      @media (max-width: 767px) {
        font-size: rem(18);
        font-weight: 600;
      }
    }
    p {
      @media (max-width: 767px) {
        font-size: rem(14);
        line-height: em(25, 14);
      }
    }
  }
}

//======================================================
.how-work {
  padding: 140px 0px;
  display: flex;
  @media (min-width: 1400px) {
    align-items: flex-end;
  }
  @media (max-width: 1400px) {
    gap: 50px;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 1200px) {
    align-items: flex-start;
  }
  background: url("@img/icons/how-work/left-icon.svg") -150px 50% no-repeat,
    url("@img/icons/how-work/darts.svg") 100% -40px no-repeat #f8fefe;
  @media (max-width: 1700px) {
    background: url("@img/icons/how-work/left-icon.svg") -80px 50% / 200px no-repeat,
      url("@img/icons/how-work/darts.svg") 100% 0px / 150px no-repeat #f8fefe;
  }
  @media (max-width: 1500px) {
    background: url("@img/icons/how-work/left-icon.svg") 105% 0 / 200px no-repeat #f8fefe;
  }
  @media (max-width: 767px) {
    background: url("@img/icons/how-work/left-icon.svg") 105% 0 / 100px no-repeat #f8fefe;
    padding: 90px 0 30px;
    gap: 30px;
  }

  // .how-work__container

  &__container {
  }
  // .how-work__body

  &__body {
    @media (min-width: 1400px) {
      width: 60%;
    }
  }

  // .how-work__content

  &__content {
    flex: 0 0 100%;
  }

  // .how-work__title

  &__title {
    @media (max-width: 500px) {
      max-width: 270px;
    }
    &::before {
      left: 30%;
      @media (max-width: 500px) {
        bottom: 50%;
      }
    }
  }

  // .how-work__text

  &__text {
  }

  // .how-work__items

  &__items {
    margin: 64px 0px 0px 0px;
    @media (max-width: 767px) {
      margin: 30px 0px 0px 0px;
    }
  }

  // .how-work__image

  &__image {
    @media (min-width: 1400px) {
      flex: 0 0 40%;
      transform: translateX(-100%) !important;
    }
    @media (max-width: 1200px) {
      padding: 0px 15px 0px;
    }

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.item-how-work {
  display: flex;
  gap: 50px;
  position: relative;
  @media (max-width: 1400px) {
    &:not(:last-child) {
      margin: 0px 0px 24px 0px !important;
    }

    &::before {
      display: none;
    }
  }
  @media (max-width: 767px) {
    gap: 20px;
  }

  &:not(:last-child) {
    margin: 0px 0px 75px 0px;
  }
  &:nth-child(1) {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      transform: translateX(-100%);
      top: 50px;
      width: 90px;
      height: 125px;
      background: url("@img/icons/how-work/blue-arrow.svg") 0 0 / contain no-repeat;
    }
  }
  &:nth-child(2) {
    margin: 0px 0px 75px 160px;
  }
  &:nth-child(3) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0px;
      width: 90px;
      transform: translate(-50%, -100%);
      height: 125px;
      background: url("@img/icons/how-work/red-arrow.svg") 0 0 / contain no-repeat;
    }
  }
  // .item-how-work__img

  &__img {
    @media (max-width: 767px) {
      img {
        width: 56px;
        height: 56px;
      }
    }
  }

  // .item-how-work__content

  &__content {
    @media (min-width: 767px) {
      max-width: 300px;
    }
    h3 {
      margin: 0px 0px 10px 0px;
      font-family: Poppins;
      font-size: rem(28) !important;
      font-weight: 600;
      line-height: em(52, 28);
      @media (max-width: 767px) {
        font-size: rem(18) !important;
        line-height: em(21, 18);
      }
    }
    p {
      @media (max-width: 767px) {
        font-size: rem(14);
        line-height: em(25, 14);
      }
    }
  }
}

//======================================================
.price {
  padding: 140px 0px 160px;
  position: relative;
  @media (max-width: 1100px) {
    padding: 70px 0px 50px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 332px;
    height: 332px;
    bottom: 120px;
    left: 0;
    transform: translateX(-40%);
    background: url("@img/icons/price/01.svg") 50% 50% / contain no-repeat;
    @media (max-width: 1300px) {
      display: none;
    }
  }

  // .price__container

  &__container {
    text-align: center;
  }

  // .price__title

  &__title {
    margin: 0px 0px 20px 0px;
    &::before {
      left: 63%;
    }
  }

  // .price__text

  &__text {
    margin: 0px 0px 48px 0px;
  }

  // .price__cards

  &__cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;
    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }
    &::before {
      content: "";
      position: absolute;
      width: 254px;
      height: 328px;
      right: 0;
      top: 0;
      transform: translate(10%, -35%);
      background: url("@img/icons/price/02.svg") 0 0 no-repeat;
      @media (max-width: 1300px) {
        display: none;
      }
    }
  }
}

.filter-price {
  margin: 0px 0px 64px;
  display: inline-flex;
  align-items: center;

  // .filter-price__text

  &__text {
    font-family: Poppins;
    font-size: rem(24);
    font-weight: 500;
    line-height: em(28, 24);
  }

  // .filter-price__switch

  &__switch {
    width: 84px;
    height: 40px;
    margin: 0px 20px 0px;
    position: relative;
    background: rgba(255, 85, 62, 0.2);
    border-radius: 20px;
    &:hover {
      span {
        opacity: 0.9;
      }
    }

    input {
      cursor: pointer;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      &:checked {
        & + span {
          left: 100%;
          transform: translate(calc(-100% - 6px), -50%);
        }
      }
    }
    span {
      display: inline-block;
      width: 28px;
      height: 28px;
      background: $colorRed;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 6px;
      transition: all 0.3s ease 0s;
    }
  }
}
.card-price {
  position: relative;
  z-index: 3;
  flex: 0 0 470px;
  border-radius: 110px;
  padding: 64px 20px 48px;
  @media (max-width: 1100px) {
    flex: 1 1 50%;
    padding: 50px 10px;
  }
  @media (max-width: 1000px) {
    width: 700px;
    max-width: 100%;
  }
  @media (max-width: 600px) {
    border-radius: 30px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    padding: 40px 30px;
    gap: 25px 15px;
  }
  @media (max-width: 550px) {
    padding: 36px 26px;
  }

  &:nth-child(1) {
    background: #fff;
    border: 1px solid $colorRed;
    & .card-price__text > p {
      color: $colorRed;
    }
    .card-price__time {
      opacity: 0.4;
    }
  }
  &:nth-child(2) {
    color: #fff;
    background: $colorRed;
    .card-price__time {
      opacity: 0.8;
    }
    .card-price__button {
      color: $colorRed;
      &:hover {
        box-shadow: 0 0 15px 1px rgba($color: #000000, $alpha: 0.5);
      }
    }
  }

  // .card-price__title
  &__title {
    font-size: rem(48);
    font-weight: 600;
    line-height: em(48, 48);
    margin: 0px 0px 56px 0px;
    @media (max-width: 600px) {
      font-size: rem(38);
      text-align: left;
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: 550px) {
      font-size: rem(20);
      line-height: em(20, 20);
    }
  }

  // .card-price__text

  &__text {
    font-size: rem(28);
    font-weight: 600;
    line-height: em(52, 28);
    @media (max-width: 600px) {
      font-weight: 400;
      line-height: em(40, 28);
      text-align: left;
      grid-row: 2 / 3;
      grid-column: span 2;
    }
    @media (max-width: 550px) {
      font-size: rem(18);
      line-height: em(20, 18);
    }

    :not(:last-child) {
      margin: 0px 0px 20px 0px;
      @media (max-width: 550px) {
        margin: 0px 0px 16px 0px;
      }
    }
  }

  // .card-price__cost

  &__cost {
    margin: 64px 0px;
    display: flex;
    justify-content: center;
    @media (max-width: 600px) {
      margin: 0px 0px 0px 0px;
      justify-content: flex-end;
      align-items: flex-start;
    }
    h4 {
      margin: 0px 8px 0px 4px;
      font-size: rem(64);
      font-weight: 700;
      line-height: em(64, 64);
      @media (max-width: 600px) {
        font-size: rem(38);
      }
      @media (max-width: 550px) {
        font-size: rem(28);
        align-self: flex-end;
      }
    }
    span {
      font-size: rem(18);
      font-weight: 500;
      line-height: em(28, 18);
      @media (max-width: 600px) {
        font-size: rem(20);
      }

      @media (max-width: 550px) {
        font-size: rem(18);
      }
      &:first-child {
        margin: 7px 0px 0px 0px;
        opacity: 0.8;
        @media (max-width: 600px) {
          align-self: flex-end;
          margin: 0px 0px 0px 0px;
        }
      }
      &.card-price__time {
        align-self: flex-end;
      }
    }
  }

  // .card-price__button

  &__button {
    @media (max-width: 600px) {
      grid-column: span 2;
      max-width: 240px;
      margin: 0 auto 0;
    }
  }
}

//======================================================
.partners {
  background: #f8fefe;
  padding: 120px 0px 80px;
  @media (max-width: 1100px) {
    padding: 60px 0px;
  }
  @media (max-width: 767px) {
    padding: 30px 0px 60px;
  }
  // .partners__container

  &__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    @media (max-width: 1100px) {
      gap: 30px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  // .partners__image

  &__image {
    flex: 0 0 800px;
    background: url("@img/partners/pc.png") 0 50% / contain no-repeat;
    padding: 0px 0px 54% 0px;
    @media (max-width: 1700px) {
      padding: 0px 0px 40% 0px;
      flex: 1 1 50%;
    }
    @media (max-width: 767px) {
      padding: 0px 0px 60% 0px;
      background: url("@img/partners/mobile.png") 0 50% / contain no-repeat;
    }
    @media (max-width: 600px) {
      padding: 0px 0px 80% 0px;
    }
  }

  // .partners__content

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0 0 525px;
    @media (max-width: 1700px) {
      flex: 1 1 50%;
    }
  }

  // .partners__title

  &__title {
    margin: 0px 0px 24px 0px;
    &::before {
      left: 29%;
      bottom: 52%;
      @media (max-width: 1100px) {
        bottom: 0%;
        left: 0;
      }
      @media (max-width: 600px) {
        left: 35%;
        bottom: 40%;
      }
    }
  }

  // .partners__text

  &__text {
    margin: 0px 0px 48px 0px;
  }

  // .partners__button

  &__button {
    background: #fff;
    color: $colorRed;
    border: 1px solid $colorRed;
    &:hover {
      box-shadow: 0 0 15px 1px rgba($color: $colorRed, $alpha: 0.5);
    }
  }
}

//======================================================
.feedbacks {
  padding: 170px 0px 140px 0px;
  background: url("@img/icons/feedbacks/like.svg") 56px 38px no-repeat,
    url("@img/icons/feedbacks/line.svg") 200px 200px no-repeat,
    url("@img/icons/feedbacks/chat.svg") 150px 80% no-repeat,
    url("@img/icons/feedbacks/emoji.svg") 95% 95% no-repeat;
  @media (max-width: 1920px) {
    background: url("@img/icons/feedbacks/like.svg") 56px 38px no-repeat,
      url("@img/icons/feedbacks/line.svg") 200px 200px no-repeat,
      url("@img/icons/feedbacks/chat.svg") 95% 5% no-repeat,
      url("@img/icons/feedbacks/emoji.svg") 95% 95% no-repeat;
  }
  @media (max-width: 1200px) {
    background: url("@img/icons/feedbacks/like.svg") 56px 38px / 100px no-repeat,
      url("@img/icons/feedbacks/line.svg") 10% 15% / 100px no-repeat,
      url("@img/icons/feedbacks/chat.svg") 95% 5% / 100px no-repeat;

    padding: 20px 0px 80px;
  }
  @media (max-width: 767px) {
    background: url("@img/icons/feedbacks/like.svg") 230px 20% / 100px no-repeat,
      url("@img/icons/feedbacks/line.svg") 80% 35% / 100px no-repeat,
      url("@img/icons/feedbacks/chat.svg") 104% 45% / 100px no-repeat;
  }
  @media (max-width: 600px) {
    background-size: 60px;
    background-position-x: 230px, 280px, 104%;
  }
  @media (max-width: 450px) {
    background-position-y: 15%, 25%, 35%;
  }
  // .feedbacks__container

  &__container {
  }

  // .feedbacks__title

  &__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
    @media (max-width: 767px) {
      text-align: left;
    }
    @media (max-width: 450px) {
      margin: 0px 0px 10px 0px;
    }
    &::before {
      left: 48%;
      @media (max-width: 767px) {
        left: 24%;
      }
    }
  }

  // .feedbacks__text

  &__text {
    text-align: center;
    margin: 0px 0px 60px 0px;
    @media (max-width: 767px) {
      text-align: left;
      margin: 0px 0px 40px 0px;
    }
    @media (max-width: 450px) {
      margin: 0px 0px 30px 0px;
    }
  }
}

.slider-feedbacks {
  overflow: hidden;
  // .slider-feedbacks__wrapper

  &__wrapper {
  }

  // .slider-feedbacks__slide

  &__slide {
    padding: 0px 0px 45px 0px;
  }

  // .slider-feedbacks__bullets

  &__bullets {
    position: relative;
    z-index: 50;
    margin: -80px 0px 0px 0px;
    transform: translate(348px, 0);
    @media (max-width: 1100px) {
      transform: translate(320px, 0);
    }
    @media (max-width: 767px) {
      transform: translate(0);
    }
    .swiper-pagination-bullet {
      transition: all 0.4s ease 0s !important;
      width: 12px;
      height: 12px;
      background: rgb(255, 85, 62);
    }
    .swiper-pagination-bullet-active {
      width: 36px;
      height: 12px;
      background: #ff553e;
      border-radius: 7px;
    }
  }
}

.content-slider-feedbacks {
  display: flex;
  gap: 48px;
  align-items: center;
  @media (max-width: 1100px) {
    gap: 20px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
  // .content-slider-feedbacks__img

  &__img {
    width: 100%;
    min-height: 380px;
    height: 100%;
    flex: 0 0 300px;
    border-radius: 370px;
    background: #fff8f2;
    @media (max-width: 767px) {
      width: 200px;
      flex: 0 0 200px;
      border-radius: 40px;
      min-height: auto;
    }
    @media (max-width: 450px) {
      width: 170px;
      flex: 0 0 144px;
    }
  }

  // .content-slider-feedbacks__content

  &__content {
    margin: 0px 0px 40px 0px;
  }

  // .content-slider-feedbacks__text

  &__text {
    font-size: rem(20);
    font-weight: 400;
    line-height: em(36, 20);
    margin: 0px 0px 36px 0px;
    @media (max-width: 1100px) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .content-slider-feedbacks__client

  &__client {
  }
}
.client-feedbacks-slider {
  // .client-feedbacks-slider__name

  &__name {
    font-size: rem(24);
    font-weight: 500;
    line-height: em(24, 24);
    margin: 0px 0px 16px 0px;
  }

  // .client-feedbacks-slider__speciality

  &__speciality {
    line-height: em(26, 18);
    margin: 0px 0px 28px 0px;
    color: #38363c;
  }
}

//======================================================
.get-it {
  overflow: hidden;
  padding: 100px 0px 0px 0px;
  background: url("@img/icons/get-it/hand-1.svg") 0 0 no-repeat,
    url("@img/icons/get-it/hand-2.svg") 100% 60% no-repeat #fff8f2;
  @media (max-width: 1920px) {
    background-size: 250px, 250px;
  }
  @media (max-width: 1500px) {
    background: url("@img/icons/get-it/hand-1.svg") 0 0 / 200px no-repeat #fff8f2;
  }
  @media (max-width: 767px) {
    background: url("@img/icons/get-it/hand-2.svg") 100% 65% / 176px 60px no-repeat
      #fff8f2;
    padding: 48px 0px;
  }
  @media (max-width: 375px) {
    background-size: 120px, 60px;
  }
  // .get-it__container

  &__container {
    display: flex;
    gap: 30px;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  // .get-it__content

  &__content {
    flex: 1 1 44%;
  }

  // .get-it__img

  &__img {
    flex: 1 1 51%;
    text-align: center;
    @media (max-width: 1200px) {
      flex: 0 0 40%;
    }
    @media (max-width: 767px) {
      display: none;
    }
    img {
      max-width: 100%;
    }
  }

  // .get-it__title

  &__title {
    margin: 0px 0px 24px 0px;
    @media (max-width: 767px) {
      margin: 0px 0px 16px 0px;
    }
    &::before {
      left: 40%;
      @media (max-width: 767px) {
        left: 20%;
      }
    }
  }

  // .get-it__text

  &__text {
    margin: 0px 0px 48px 0px;
    @media (max-width: 767px) {
      margin: 0px 0px 30px 0px;
    }
  }

  // .get-it__buttons

  &__buttons {
    display: flex;
    gap: 16px 20px;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  // .get-it__button

  &__button {
    flex: 0 1 180px;
    height: 73px;
    @media (max-width: 767px) {
      flex: 0 1 auto;
      width: 180px;
    }
    &:last-child {
      background: #fff;
      border: 1px solid $colorRed;
      &:hover {
        box-shadow: 0 0 15px 1px rgb(255 85 62 / 50%);
      }
    }
  }
}
